<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://cdn.shopify.com/s/assets/external/app.js"></script>
  <script type="text/javascript">
    ShopifyApp.init({
      apiKey: "<%= SinatraApp.settings.api_key %>",
      shopOrigin: "<%= current_shop_url %>",
      debug: true
    });
  </script>

  <%= bootstrap_assets %>
  <link rel="stylesheet" href='<%= "#{base_url}/styles.css" %>'>
</head>

<body>
  <%= erb :"_top_bar", layout: false %>

  <div id="wrap">
    <div class="container">
      <%= yield %>
      <div id="push"></div>
    </div>
  </div>

  <div id="footer">
    <div class="container">
      <%= yield_content :footer %>
    </div>
  </div>
</body>
</html>
