<script>
  window.previewEmail<%= modal_id %> = function() {
    var subject = $('#editEmailModal<%= modal_id %>').find('#subject').val();
    var template = $('#editEmailModal<%= modal_id %>').find('#template').val();

    var url = '/preview_email'
    url += '?subject=' + encodeURIComponent(subject)
    url += '&template=' + encodeURIComponent(template)

    $.ajax({url: url, dataType: 'json'}).done(function(response) {
      $('#previewEmailModal<%= modal_id %> #<%= subject %>')[0].value = response.subject;
      $('#previewEmailModal<%= modal_id %> #<%= subject %>')[1].value = response.subject;
      $('#previewEmailModal<%= modal_id %> #<%= template %>')[0].value = response.template;
      $('#previewEmailModal<%= modal_id %> #body')[0].innerHTML = response.body;
      $('#editEmailModal<%= modal_id %>').modal('hide')
      $('#previewEmailModal<%= modal_id %>').modal('show')
    });
  }
</script>

<div class="modal fade" id="previewEmailModal<%= modal_id %>">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= preview_copy %></h4>
      </div>

      <form method="POST" action="/charity" role="form">
        <input type="hidden" name="_method" value="put" />
        <input type="hidden" name="<%= subject %>" id="<%= subject %>"/>
        <input type="hidden" name="<%= template %>" id="<%= template %>"/>

        <div class="modal-body">
          <div class="form-group">
            <label for="email_bcc">Bcc</label>
            <input
              type="text"
              class="form-control"
              style="width: 97%"
              name="email_bcc"
              id="bcc"
              value="<%= charity.email_bcc %>"
            />
          </div>

          <div class="form-group">
            <label for="email_from">From</label>
            <input
              type="text"
              class="form-control"
              style="width: 97%"
              name="email_from"
              id="from"
              value="<%= charity.email_from || shop.email %>"
            />
          </div>

          <div class="form-group">
            <label for="<%= subject %>">Email subject</label>
            <input
              type="text"
              class="form-control"
              style="width: 97%"
              id="<%= subject %>"
              disabled="true"
            />
          </div>

          <div class="form-group">
            <label for="pdf_filename">Attachment filename (.pdf)</label>
            <input
              type="text"
              class="form-control"
              style="width: 97%"
              name="pdf_filename"
              value="<%= charity.pdf_filename %>"
            />
          </div>

          <hr>

          <textarea
            id="body"
            class="form-control"
            style="width: 97%"
            rows="12"
            disabled="true">
          </textarea>
        </div>

        <div class="modal-footer">
          <div class="pull-left">
            <button
              type="button"
              class="btn btn-default"
              onclick="$('#previewEmailModal<%= modal_id %>').modal('hide'); $('#editEmailModal<%= modal_id %>').modal('show')">
              Back to edit
            </button>
          </div>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>

    </div>
  </div>
</div>

<div class="modal fade" id="editEmailModal<%= modal_id %>">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= title_copy%> </h4>
      </div>

      <form method="POST" action="/charity" role="form">
        <input type="hidden" name="_method" value="put" />
        <div class="modal-body">

          <div class="form-group">
            <label for="email_bcc">Bcc</label>
            <input
              type="text"
              class="form-control"
              style="width: 97%"
              name="email_bcc"
              id="bcc"
              value="<%= charity.email_bcc %>"
            />
          </div>

          <div class="form-group">
            <label for="email_from">From</label>
            <input
              type="text"
              class="form-control"
              style="width: 97%"
              name="email_from"
              id="from"
              value="<%= charity.email_from || shop.email %>"
            />
          </div>

          <div class="form-group">
            <label for="<%= subject %>">Subject</label>
            <input
              type="text"
              class="form-control"
              style="width: 97%"
              name="<%= subject %>"
              id="subject"
              value="<%= charity.send(subject) %>"
            />
          </div>

          <div class="form-group">
            <label for="pdf_filename">Attachment filename (.pdf)</label>
            <input
              type="text"
              class="form-control"
              style="width: 97%"
              name="pdf_filename"
              id="filename"
              value="<%= charity.pdf_filename %>"
            />
          </div>

          <hr>

          <textarea
            class="form-control"
            style="width: 97%"
            rows="12"
            name="<%= template %>"
            id="template"><%= charity.send(template) %></textarea>
        </div>

        <div class="modal-footer">
          <div class="pull-left">
            <button type="button" class="btn btn-default" onclick="previewEmail<%= modal_id %>()">Preview</button>
          </div>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>

    </div>
  </div>
</div>

<p>
  <a href="#"
    class="btn btn-default action-btn"
    onclick="$('#editEmailModal<%= modal_id %>').modal('toggle'); return false;">
    <i class="fa fa-edit"></i> <%= button_copy %>
  </a>
</p>
