<script>
  window.previewEmail<%= modal_id %> = function() {
    var template = $('#editEmailModal<%= modal_id %>').find('#template').val();

    var url = '/preview_email';
    url += '?template=' + encodeURIComponent(template);

    $.ajax({url: url, dataType: 'json'}).done(function(response) {
      $('#previewEmailModal<%= modal_id %> #email_body')[0].innerHTML = response.email_body;
      $('#editEmailModal<%= modal_id %>').modal('hide');
      $('#previewEmailModal<%= modal_id %>').modal('show');
    });
  }

  window.sendTestEmail<%= modal_id %> = function() {
    var params = $('#editEmailModal<%= modal_id %>').find('form').serialize();
    params = params.replace('_method=put&', '?');

    var url = '/test_email' + params;

    $.ajax({url: url})
    .done(function() {
      ShopifyApp.flashNotice("Test email sent");
    })
    .error(function() {
      ShopifyApp.flashNotice("Error!");
    });
  }
</script>

<div class="modal fade" id="previewEmailModal<%= modal_id %>">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= preview_copy %></h4>
      </div>

      <form method="POST" action="/charity" role="form">
        <input type="hidden" name="_method" value="put" />

        <div class="modal-body">
          <div class="form-group">
            <label for="email_to">To</label>
            <input
              type="text"
              class="form-control"
              style="width: 97%"
              name="email_to"
              bind="email_to<%= modal_id %>"
              value="<%= shop.email %>"
            />
          </div>

          <div class="form-group">
            <label for="email_bcc">Bcc</label>
            <input
              type="text"
              class="form-control"
              style="width: 97%"
              name="email_bcc"
              bind="email_bcc<%= modal_id %>"
              value="<%= charity.email_bcc %>"
            />
          </div>

          <div class="form-group">
            <label for="email_from">From</label>
            <input
              type="text"
              class="form-control"
              style="width: 97%"
              name="email_from"
              bind="email_from<%= modal_id %>"
              value="<%= charity.email_from || shop.email %>"
            />
          </div>

          <div class="form-group">
            <label for="<%= subject %>">Email subject</label>
            <input
              type="text"
              class="form-control"
              style="width: 97%"
              name="<%= subject %>"
              bind="<%= subject %><%= modal_id %>"
              value="<%= charity.send(subject) %>"
            />
          </div>

          <div class="form-group">
            <label for="pdf_filename">Attachment filename (.pdf)</label>
            <input
              type="text"
              class="form-control"
              style="width: 97%"
              name="pdf_filename"
              bind="pdf_filename<%= modal_id %>"
              value="<%= charity.pdf_filename %>"
            />
          </div>

          <hr>

          <input
            type="hidden"
            name="<%= template %>"
            bind="<%= template %><%= modal_id %>"
            value="<%= charity.send(template) %>"
          />
          <pre
            id="email_body"
            class="well"
            style="width: 97%; height: 244px; white-space: pre-wrap; word-break: keep-all;">
          </pre>
        </div>

        <div class="modal-footer">
          <div class="pull-left">
            <button
              type="button"
              class="btn btn-default"
              onclick="$('#previewEmailModal<%= modal_id %>').modal('hide'); $('#editEmailModal<%= modal_id %>').modal('show')">
              <i class="fa fa-undo-alt"></i> Back to edit
            </button>
            <button
              type="button"
              class="btn btn-default"
              onclick="sendTestEmail<%=modal_id%>()">
                <i class="fa fa-paper-plane"></i> Send test email
            </button>
          </div>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>

    </div>
  </div>
</div>

<div class="modal fade" id="editEmailModal<%= modal_id %>">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= title_copy%> </h4>
      </div>

      <form method="POST" action="/charity" role="form">
        <input type="hidden" name="_method" value="put" />

        <div class="modal-body">
          <div class="form-group">
            <label for="email_to">To</label>
            <input
              type="text"
              class="form-control"
              style="width: 97%"
              name="email_to"
              bind="email_to<%= modal_id %>"
              value="<%= shop.email %>"
            />
          </div>

          <div class="form-group">
            <label for="email_bcc">Bcc</label>
            <input
              type="text"
              class="form-control"
              style="width: 97%"
              name="email_bcc"
              bind="email_bcc<%= modal_id %>"
              value="<%= charity.email_bcc %>"
            />
          </div>

          <div class="form-group">
            <label for="email_from">From</label>
            <input
              type="text"
              class="form-control"
              style="width: 97%"
              name="email_from"
              bind="email_from<%= modal_id %>"
              value="<%= charity.email_from || shop.email %>"
            />
          </div>

          <div class="form-group">
            <label for="<%= subject %>">Subject</label>
            <input
              type="text"
              class="form-control"
              style="width: 97%"
              name="<%= subject %>"
              bind="<%= subject %><%= modal_id %>"
              value="<%= charity.send(subject) %>"
            />
          </div>

          <div class="form-group">
            <label for="pdf_filename">Attachment filename (.pdf)</label>
            <input
              type="text"
              class="form-control"
              style="width: 97%"
              name="pdf_filename"
              bind="pdf_filename<%= modal_id %>"
              value="<%= charity.pdf_filename %>"
            />
          </div>

          <hr>

          <textarea
            id="template"
            name="<%= template %>"
            bind="<%= template %><%= modal_id %>"
            class="form-control"
            style="width: 97%"
            rows="12"><%= charity.send(template) %></textarea>
        </div>

        <div class="modal-footer">
          <div class="pull-left">
            <button
              type="button"
              class="btn btn-default"
              onclick="previewEmail<%= modal_id %>()">
              <i class="fa fa-file-signature"></i> Preview
            </button>
            <button
              type="button"
              class="btn btn-default"
              onclick="sendTestEmail<%=modal_id%>()">
                <i class="fa fa-paper-plane"></i> Send test email
            </button>
          </div>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>

    </div>
  </div>
</div>

<p>
  <a href="#"
    class="btn btn-default action-btn"
    onclick="$('#editEmailModal<%= modal_id %>').modal('toggle'); return false;">
    <i class="fa fa-edit"></i> <%= button_copy %>
  </a>
</p>
