<script>
  window.sendTestEmail = function() {
    var $activeModal = $('.modal:visible');

    var to = $activeModal.find('#to').val();
    var subject = $activeModal.find('#subject').val();
    var template = $activeModal.find('#template').val();

    var url = '/test_email?to=' + to
    url += '&subject=' + encodeURIComponent(subject)
    url += '&template=' + encodeURIComponent(template)

    $.ajax({url: url}).done(function() {
      ShopifyApp.flashNotice("Test email sent");
    });
  }

  window.previewEmail = function() {
    var subject = $('#subject').val();
    var template = $('#template').val();

    var url = '/preview_email?subject=' + encodeURIComponent(subject)
    url += '&template=' + encodeURIComponent(template)

    $.ajax({url: url, dataType: 'json'}).done(function(response) {
      $('#previewEmailModal #email_subject')[0].value = response.email_subject;
      $('#previewEmailModal #email_subject')[1].value = response.email_subject;
      $('#previewEmailModal #email_template')[0].value = response.email_template;
      $('#previewEmailModal #email_body')[0].innerHTML = response.email_body;
      $('#editEmailModal').modal('hide')
      $('#previewEmailModal').modal('show')
    });
  }
</script>

<div class="modal fade" id="previewEmailModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Email Template Preview</h4>
      </div>

      <form method="POST" action="/charity" role="form">
        <input type="hidden" name="_method" value="put" />
        <input type="hidden" name="email_subject" id="email_subject"/>
        <input type="hidden" name="email_template" id="email_template"/>

        <div class="modal-body">

          <div class="form-group">
            <label for="subject">To</label>
            <input type="text" class="form-control" name="email_to" id="to" value="<%= shop.email %>" style="width: 97%"/>
          </div>

          <div class="form-group">
            <label for="subject">From</label>
            <input type="text" class="form-control" name="email_from" id="to" value="<%= shop.email %>" style="width: 97%"/>
          </div>

          <div class="form-group">
            <label for="subject">Bcc</label>
            <input type="text" class="form-control" name="email_bcc" id="to" style="width: 97%"/>
          </div>

          <div class="form-group">
            <label for="subject">Email subject</label>
            <input type="text" class="form-control" id="email_subject" disabled="true" style="width: 97%"/>
          </div>

          <hr>

          <textarea id="email_body" rows="12" class="form-control" disabled="true" style="width: 97%"></textarea>
        </div>

        <div class="modal-footer">
          <div class="pull-left">
             <button type="button" class="btn btn-default" onclick="$('#previewEmailModal').modal('hide'); $('#editEmailModal').modal('show')">Back to edit</button>
             <button type="button" class="btn btn-default" onclick="sendTestEmail()">Send test email</button>
          </div>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>

    </div>
  </div>
</div>

<div class="modal fade" id="editEmailModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit "Donation Receipt" Email Template</h4>
      </div>

      <form method="POST" action="/charity" role="form">
        <input type="hidden" name="_method" value="put" />
        <div class="modal-body">

          <div class="form-group">
            <label for="subject">To</label>
            <input type="text" class="form-control" name="email_to" id="to" value="<%= shop.email %>" style="width: 97%"/>
          </div>

          <div class="form-group">
            <label for="subject">From</label>
            <input type="text" class="form-control" name="email_from" id="to" value="<%= shop.email %>" style="width: 97%"/>
          </div>

          <div class="form-group">
            <label for="subject">Bcc</label>
            <input type="text" class="form-control" name="email_bcc" id="to" style="width: 97%"/>
          </div>

          <div class="form-group">
            <label for="subject">Subject</label>
            <input type="text"  class="form-control" name="email_subject" id="subject" value="<%= charity.email_subject %>" style="width: 97%"/>
          </div>

          <hr>

          <textarea class="form-control" name="email_template" id="template" rows="12" style="width: 97%"><%= charity.email_template %></textarea>
        </div>

        <div class="modal-footer">
          <div class="pull-left">
             <button type="button" class="btn btn-default" onclick="previewEmail()">Preview</button>
             <button type="button" class="btn btn-default" onclick="sendTestEmail()">Send test email</button>
          </div>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>

    </div>
  </div>
</div>

<p>
  <a href="#" class="btn btn-default" onclick="$('#editEmailModal').modal('toggle'); return false;">Edit receipt email</a>
</p>
