<% if donations.present? %>
  <table class="table table-striped table-hover">
    <tbody>
      <tr>
        <th>Order ID</th>
        <th>Order Number</th>
        <th>Date</th>
        <th>Amount</th>
        <th>Status</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

      <% donations.each do |donation| %>
        <% disabled = donation.void || donation.refunded %>

        <tr>
          <td>
            <a href=<%="https://#{@shop.myshopify_domain}/admin/orders/#{donation.order_id}"%> target="_blank"> <%= donation.order_id %></a>
          </td>
          <td><%= donation.order_number%></td>
          <td><%= donation.created_at %></td>

          <td>
            <% if disabled %>
              <del><%= donation.donation_amount %></del>
            <% else %>
              <span><%= donation.donation_amount %></span>
            <% end %>
          </td>

          <td><%= donation.status %></td>

          <td style="width:1px;">
            <a href="/view?id=<%= donation.id %>" target="_blank" class="btn btn-default">
              View
            </a>
          </td>

          <td style="width:1px;">
            <form method="POST" action="/resend">
              <input type="hidden" name="id" value="<%= donation.id %>" />
              <input type="submit" class="btn btn-primary align-right" <%= 'disabled' if disabled %> value="resend">
            </form>
          </td>

          <td style="width:1px;">
            <form method="POST" action="/void">
              <input type="hidden" name="id" value="<%= donation.id %>" />
              <input type="submit" class="btn btn-danger align-right" <%= 'disabled' if disabled %> value="void">
            </form>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div style="padding-left: 5px;">
    <%= paginate donations, param_name: :donations_page, params: {tab: 'donations'} %>
  </div>
<% else %>
  <p>No donations have been sent yet</p>
<% end %>
