<% if products.present? %>
  <table class="table table-striped table-hover">
    <tbody>
      <tr>
        <th>Product</th>
        <th>Description</th>
        <th>Percentage eligible for tax receipt</th>
        <th></th>
        <th></th>
      </tr>

      <% products.each do |product| %>
        <tr>
          <td style="min-width: 120px;">
            <a href=<%="https://#{@shop.myshopify_domain}/admin/products/#{product.product_id}"%> target="_blank">
              <%= product.title %>
            </a>
          </td>

          <td>
            <%= truncate(strip_tags(product.description), length: 200) %>
          </td>

          <form method="POST" action="/products">
            <input type="hidden" name="_method" value="put" />
            <input type="hidden" name="id" value="<%= product.id %>" />

            <td>
              <div class="input-group" style="width: 120px;">
                <input type="number"
                       name="percentage"
                       min="0"
                       max="100"
                       step="any"
                       class="form-control"
                       value="<%= product.percentage %>" />
                <div class="input-group-addon">%</div>
              </div>
            </td>

            <td style="width:1px;">
              <input type="submit" class="btn btn-primary align-right" value="save">
            </td>
          </form>

          <td style="width:1px;">
            <form method="POST" action="/products">
              <input type="hidden" name="_method" value="delete" />
              <input type="hidden" name="id" value="<%= product.id %>" />
              <input type="submit" class="btn btn-danger align-right" value="delete">
            </form>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div style="padding-left: 5px;">
    <%= paginate products, param_name: :products_page, params: {tab: 'products', product_search: product_search} %>
  </div>
<% else %>
  <p class="blank-list">No products are currently setup for tax receipts. Visit the <a href="/help">help page</a> to see how to get started!</p>
<% end %>
