<% if products.present? %>
  <table class="table table-striped table-hover">
    <tbody>
      <tr>
        <th>Product ID</th>
        <th>Percentage eligible for tax receipt</th>
        <th></th>
        <th></th>
      </tr>

      <% products.each do |product| %>
        <tr>
          <td>
            <a href=<%="#{current_shop_url}/admin/products/#{product.product_id}"%> target="_blank"> <%= product.product_id %></a>
          </td>

          <form method="POST" action="/products">
            <input type="hidden" name="_method" value="put" />
            <input type="hidden" name="id" value="<%= product.id %>" />

            <td>
              <div class="input-group" style="width: 110px;">
                <input type="number"
                       name="percentage"
                       min="0"
                       max="100"
                       step="any"
                       class="form-control"
                       value="<%= product.percentage %>" />
                <div class="input-group-addon">%</div>
              </div>
            </td>

            <td style="width:1px;">
              <input type="submit" class="btn btn-default align-right" value="save">
            </td>
          </form>

          <form method="POST" action="/products">
            <td style="width:1px;">
              <input type="hidden" name="_method" value="delete" />
              <input type="hidden" name="id" value="<%= product.id %>" />
              <input type="submit" class="btn btn-default align-right" value="delete">
            </td>
          </form>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No products are currently setup for tax receipts. Visit the <a href="/help">help page</a> to see how to get started!</p>
<% end %>
