<%= erb :"_top_bar", :layout => false, :locals => locals %>

<h3>Tax Receipts</h3>

<div class="well">
  <p>Please Enter your Charity details to complete the installation</p>

  <form method="POST" action="/charity" role="form">

    <div class="form-group">
      <div class="col-sm-4">

        <div class="control-group">
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on"><i class="icon-info-sign"></i></span>
              <input type="text" name="name" placeholder="eg. Amnesty International" <%= "value=\"#{@charity.name}\"".html_safe if @charity.present? %>>
            </div>
          </div>
        </div>

        <div class="control-group">
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on"><i class="icon-info-sign"></i></span>
              <input type="text" name="charity_id" placeholder="eg. 804" <%= "value='#{@charity.charity_id}'" if @charity.present? %>>
            </div>
          </div>
        </div>

        <div class="control-group">
          <div class="controls">
            <input type="submit" class="btn btn-default" value="save">
          </div>
        </div>

      </div>
    </div>
  </form>
</div>

<h3>Products</h3>

<% if @products.present? %>
  <p>Make sure you aren't charging taxes or shipping for any of these products!</p>
  <table class="table table-striped table-hover">
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td>
            <a href=<%="https://#{@shop.name}/admin/products/#{product.product_id}"%> target="_blank"> <%= product.product_id %> </a>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p> No products are currently setup for tax receipts. To select which products should recieve tax receipts on purchase go to your <a href=<%="https://#{@shop.name}/admin/products"%> target="_blank">products</a> page and use the bulk dropdown</p>
  <img src="https://taxreceipts.herokuapp.com/add_products.gif" alt="Instructions">
<% end %>
