<% if @charity.blank? %>
  <div class="alert alert-warning" role="alert" style="margin-top: 15px;">
    <p>Please Enter your Charity details to complete the installation</p>
  </div>
<% end %>

<div class="row" style="padding-top: 15px;">
  <div class="col-md-4">
    <%= partial 'charity', locals: {charity: @charity} %>
  </div>

  <div class="col-md-4">
    <% if @charity.present? %>
      <%= partial 'components/email_modals', locals: {shop: @shop, charity: @charity} %>
      <%= partial 'components/pdf_modal', locals: {charity: @charity} %>
      <%= partial 'components/test_email', locals: {shop: @shop} %>
      <%= partial 'components/product_picker' %>
    <% end %>
  </div>
</div>

<% if @charity.present? %>
  <%= partial 'tabs', locals: {products: @products, donations: @donations} %>
<% end %>

<% content_for :footer do %>
  <p class="muted credit" style="margin-top: 20px;">Need Help? Visit the <a href="/help">help page</a></p>
<% end %>
