<% if @charity.blank? %>
  <div class="alert alert-warning" role="alert" style="margin-top: 15px;">
    <p>Please Enter your Charity details to complete the installation</p>
  </div>
<% end %>

<div class="row" style="padding-top: 15px;">
  <div class="col-md-4">
    <%= partial 'charity', locals: { charity: @charity } %>
  </div>

  <div class="col-md-4">
    <% if @charity.present? %>
      <%= partial 'components/email_modals',
        locals: {
          shop: @shop,
          charity: @charity,
          subject: 'email_subject',
          template: 'email_template',
          title_copy: 'Edit Email Template',
          preview_copy: 'Email Preview',
          button_copy: 'Edit receipt email',
          modal_id: 0
        }
      %>
      <%= partial 'components/email_modals',
        locals: {
          shop: @shop,
          charity: @charity,
          subject: 'update_email_subject',
          template: 'update_email_template',
          title_copy: 'Edit Update Template',
          preview_copy: 'Update Email Preview',
          button_copy: 'Edit update receipt email',
          modal_id: 1
        }
      %>
      <%= partial 'components/email_modals',
        locals: {
          shop: @shop,
          charity: @charity,
          subject: 'void_email_subject',
          template: 'void_email_template',
          title_copy: 'Edit Void Template',
          preview_copy: 'Void Email Preview',
          button_copy: 'Edit void receipt email',
          modal_id: 2
        }
      %>
      <%= partial 'components/pdf_modal',
        locals: {
          charity: @charity
        }
      %>
    <% end %>
  </div>
</div>

<% if @charity.present? %>
  <%= partial 'tabs',
    locals: {
      tab: @tab,
      shop: @shop,
      products: @products,
      product_search: @product_search,
      donations: @donations,
      donation_search: @donation_search,
      order_ids: @order_ids
    }
  %>
<% end %>

<% content_for :footer do %>
  <p class="muted credit" style="margin-top: 20px;">Need Help? Visit the <a href="/help">help page</a></p>
<% end %>
