<% if @charity.blank? %>
  <div class="alert alert-danger" role="alert">
    <p>Please Enter your Charity details to complete the installation</p>
  </div>
<% end %>

<%= partial 'charity', locals: {charity: @charity} %>

<% if @charity.present? %>
  <%= partial 'email_modals', locals: {shop: @shop, charity: @charity} %>
  <%= partial 'pdf_modal', locals: {charity: @charity} %>
  <%= partial 'product_picker' %>
  <%= partial 'products', locals: {products: @products} %>
<% end %>

<% content_for :footer do %>
  <p class="muted credit" style="margin-top: 20px;">Need Help? Visit the <a href="/help">help page</a></p>
<% end %>
