<hr>
<div style="float: left;">
  <strong style="font-size: 18pt;">{{ charity.name }}</strong>
</div>
<div style="float: right;">
  <span style="font-size: 9pt;">OFFICIAL DONATION RECEIPT</span>
</div>
<div style="clear: both;">

<div style="font-size: 10pt; margin-top: 180px; margin-left: 100px;">
  <strong>
    {{ donation.first_name }} {{ donation.last_name }}
  </strong>
  <br>
  {{ donation.address1 }}<br>
  {{ donation.city }}<br>
  {{ donation.country }}<br>
  {{ donation.zip }}<br>
</div>


<div style="font-size: 10pt; margin-top: 180px; margin-left: 100px;">
  <strong>
    Donation Details:
  </strong>
  <br>
  Order Number: {{ donation.order_number }}<br>
  {% if donation.status == 'resent' %}
    Receipt Number: {{ charity.donation_id_prefix }}{{ donation.id }} (Duplicate)<br>
  {% else %}
    Receipt Number: {{ charity.donation_id_prefix }}{{ donation.id }}<br>
  {% endif %}
  {% if donation.status == 'update' %}
    Replacement for Receipt Number: #{{ donation.original_donation.id }}<br>
  {% endif %}
  Donation Received: {{ donation.received_at }}<br>
  Amount: ${{ donation.donation_amount }}<br>
  Date Issued: {{ donation.created_at }}<br>
  Place Issued: {{ shop['city'] }}
</div>

<div style="font-size: 10pt; margin-top: 10px; margin-left: 100px;">
  Donations are tax deductible to the extent permitted by law
</div>

<div style="font-style: italic; font-size: 10pt;  margin-top: 10px; margin-left: 100px;">
  Thank you
</div>

<hr style="margin-top: 280px;">
<div style="font-size: 10pt; margin-left: 100px;">
  {{ charity.name }}<br>
  Charity Tax ID #{{ charity.charity_id }}<br>
  {{ shop['address1'] }}<br>
  {{ shop['city'] }}, {{ shop['province'] }} {{ shop['zip'] }}<br>
</div>
